@model ProfilePageViewModel
@{
    ViewData["Title"] = "Account Profile";
    var profile = Model.ProfileViewModel;
    var profileForm = Model.ProfileFormViewModel;
}

<div class="row">
    <div class="col">
        @await Html.PartialAsync("_ProfileCard", profile)
    </div>
</div>