@model PrivacyViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div id="map" style="height:500px; width:100%;"></div>



@section Scripts {
    <script type="module">
        import { loadGoogleMaps, addMarker } from '/js/map.js';

        (async () => {
            const apiKey = '@Model.GoogleMapsAPIKey';
            await loadGoogleMaps(apiKey);

            // Example: add home and destination markers dynamically
            addMarker(32.5358053807361, -97.09577927978566, "green","Home"); // home
            addMarker(32.747519, -97.092994, "orange","Event location"); // destination
        })();
    </script>
}
