@* Views/Error/PageNotFound.cshtml *@

@{
    ViewData[index: "Title"] = "Forbidden";
}

<h1 class="display-4">Forbidden 403</h1>
<p class="lead">We are sorry, you are not allowed to do that.</p>
<a href="/" class="btn btn-primary">Back to Home</a>
